.buttons {
    text-align: center;
    margin-top: 50px;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

#panzoom {
    text-align: center;
    margin-left: -1px;
    margin-top: -1px;
    transform: matrix(1, 0, 0, 1, -128.313, 160.812);
}